<!doctype html>
<html lang="en">

<head>

	<script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.js"></script>

	<!-- Typeahead -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.js"></script>

</head>


<h2>Consulta de películas</h2>

<div class="form-group col-md-3">
	<form action="resultadoConsulta" method="get">

			<label for="inputActor">Criterio búsqueda:</label><br>
			<select id="selector" class="form-control" name="criterio">
	 			<option value="titulo">Título</option>
				<option value="actor">Actor</option>
	 			<option value="genero">Género</option>
	 			<option value="director">Director</option>
	 			<option value="anio">Año</option>
 			</select><br>
			<label for="inputActor">Búsqueda:</label>
			<div class="typeahead__container">
        <div class="typeahead__field">
            <div class="typeahead__query">
                <input class="js-typeahead"
                       id="busq"
											 name="busqueda"
                       type="search"
                       autocomplete="off">
            </div>
						<div class="typeahead__button">
              <button type="submit">
                <span class="typeahead__search-icon"></span>
              </button>
						</div>
        </div>
    	</div>
			<br><button type="submit" class="btn btn-primary">Buscar</button>
		</form>
	</div>

<script type="text/javascript">
	$(document).ready(function()
	  {

			$("#op2").css("background-color","#4286f4");
			$("#op2").addClass("nav-item active");


			$.typeahead({
	      input: '.js-typeahead-country_v1',
	      order: "desc",
	      source: {
	        data: [
	          {{ movies_list|safe }}
	        ]
	      },
	      callback: {
	        onInit: function (node) {
	          console.log('Typeahead Initiated on ' + node.selector);
	        }
	      }
	    });
	  });
</script>

{% endblock %}
