{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js">
</script>

<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
</form>

<script type="text/javascript">
  $(document).ready(function(){
      $("#op4").css("background-color","#4286f4");
      $("#op4").addClass("nav-item active");

  });
</script>

{% endblock %}
